body {
            font-family: 'Segoe UI', sans-serif;
            background-color: #2b2b2b;
            color: #fff;
            display: flex;
            justify-content: center;
            padding-top: 50px;
        }
        .container {
            background-color: #3d3d3d;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.5);
            width: 350px;
            text-align: center;
        }
        input {
            padding: 10px;
            width: 70%;
            border-radius: 5px;
            border: none;
            margin-bottom: 10px;
        }
        button {
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s;
        }
        #btnAnadir { background-color: #00adb5; color: white; }
        #btnAnadir:hover { background-color: #00cfd8; }
        
        #btnLimpiar { background-color: #ff2e63; color: white; margin-top: 10px; }
        
        ul { list-style: none; padding: 0; margin-top: 20px; text-align: left; }
        
        li {
            background-color: #4b4b4b;
            margin-bottom: 8px;
            padding: 10px;
            border-radius: 5px;
            border-left: 5px solid #00adb5;
            cursor: pointer;
            transition: transform 0.2s;
        }
        li:hover { transform: scale(1.02); background-color: #555; }
        li::after { content: ' (Doble click borrar)'; font-size: 0.7em; color: #aaa; float: right;}