*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;        /* Ocupar todo el ancho del padre */
    height: 100%;       /* Ocupar todo el alto del padre */
    object-fit: cover;  /* Clave: recorta la imagen para llenar el espacio sin deformarla */
    
    /* Opcional: para asegurarte de que no queden huecos extraños abajo */
    display: block; 
}

section {
    height: 100vh;
    background-color: rgba(127, 255, 212, 0.37);
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    width: 80%;
    height: 30vh;
    margin: auto;   
}

.contenedor > div {
    width: 200px;
    height: 200px;
}

.grande {
    margin: auto;
    background-color: aquamarine;
    margin-bottom: 10vh;
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grande > div {
    height: 80%;
    aspect-ratio: 1 / 1;
    background-color: aqua;
}

.activo {
    border: 3px solid black;
}