* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    height: 100vh;
}

.menu {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 30%;
    border-radius: 10px;    

}

.menu button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu a:hover {
    text-decoration: underline;
}

.invisible {
    display: none;
}