* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

#tablero-contenedor {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.columna-tablero {
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor-tareas {
    min-height: 50px;
    margin-top: 10px;
    flex-grow: 1; /* Ocupa todo el espacio sobrante */
    transition: background-color 0.2s;

}

.contenido-tareas.drag-over {
    background-color: #e2e4e9;
}

.form-tareas {
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid #333;
    
    select {
        padding: 5px;
        margin-right: 10px;
    }

    input {
        padding: 5px;
        margin-right: 10px;
    }

    button {
        padding: 5px 10px;
        cursor: pointer;
    }
}

.tarea-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    border-left: 4px solid #0079bf; /* Un detallito de color */
    transition: transform 0.1s, box-shadow 0.1s;
}

.tarea-card:hover {
    background-color: #f4f5f7;
    transform: translateY(-2px); /* Pequeña elevación */
}